.articles-wrapper {
    width: calc(100% - 200px);
    display: flex;
    flex-wrap: wrap;
    .articles {
        display: flex;
        flex-wrap: wrap;
    }
    .add-article {
        margin: 10px;
        height: 35px;
    }
}