@import "./variables.scss";

@mixin truncate-line {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin font($style, $weight, $size, $line-height) {
    font-family: $font-family;
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    line-height: $line-height;
}

@mixin full-screen {
    width: 100%;
    height: 100%;
    position: relative;
}

@mixin content-is-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}